<button type="button" goodId="btn-cart">Cart</button>

<dl>
    <dt>Name:</dt>
    <dd><input type="text" goodId="input-name"></dd>
</dl>
<dl>
    <dt>Quantity:</dt>
    <dd> <input type="number" goodId="input-quantity"></dd>
</dl>
<dl>
    <dt>Country:</dt>
    <dd><input type="text" goodId="input-country"></dd>
</dl>

<% _.each(config.customFields, function(field){ %>

<dl>
    <dt><%- _.upperFirst(field) %>:</dt>
    <dd><input type="<%- customFieldConfig[field] %>" goodId="input-<%- field %>"></dd>
</dl>

<% }); %>

<dl>
    <dt>Cost:</dt>
    <dd><input type="number" goodId="input-cost"></dd>
</dl>
<button type="button" goodId="btn-save">Save</button>
<button type="button" goodId="btn-cancel">Cancel</button>
